<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <!-- === РЕЖИМ РАБОТЫ / ДЕМО === -->
    <!-- Эмуляторный нижний бар включён, но карточные ридеры реально инициализируются: -->
    <add key="UseEmulator" value="true" />
    <add key="ForceCardReadersInEmu" value="true" />
    <add key="DryRun" value="true" />
    <add key="DemoKeys" value="true" />

    <!-- Карту НЕ обходим: требуем реальное прикладывание -->
    <add key="BypassCardForRruTest" value="true" />

    <!-- Железо по COM по умолчанию отрублено, чтобы не держать порты, можно точечно включать -->
    <add key="EnableBookScanners" value="false" />
    <add key="EnableArduino" value="false" />

    <!-- === IRBIS === -->
    <add key="connection-string" value="host=127.0.0.1;port=6666;user=MASTER;password=MASTERKEY;db=IBIS" />
    <add key="BooksDb" value="IBIS" />
    <add key="ReadersDb" value="RDR" />

    <!-- Поисковые выражения -->
    <add key="ExprReaderByUidList" value="&quot;RI={0}&quot;;&quot;RFID={0}&quot;;&quot;CCUID={0}&quot;" />
    <add key="ExprBookByInv" value="&quot;IN={0}&quot;" />
    <!-- Поиск книги по RFID: 910^h -->
    <add key="ExprBookByRfid" value="&quot;H={0}&quot;" />
    <add key="ExprReaderByItemRfid" value="&quot;H={0}&quot;" />

    <!-- Нормализация UID -->
    <add key="UidUpperHex" value="true" />
    <add key="UidStripDelimiters" value="true" />
    <add key="ReaderUidField" value="30" />

    <!-- Форматы/маски -->
    <add key="BriefFormat" value="@brief" />
    <add key="MaskMrg" value="09" />
    <add key="UseSubfieldR_ReturnPlace" value="true" />

    <!-- Поля экземпляра -->
    <add key="BookStatusTag" value="910" />
    <add key="BookStatusCode" value="a" />
    <add key="BookRfidCode" value="h" />

    <!-- === РИДЕРЫ (карты) === -->
    <add key="AcrReaderName" value="ACS ACR1281 1S Dual Reader PICC" />

    <!-- COM-ридер карт IQRFID-5102 (укажи свой порт либо оставь пусто, если его нет) -->
    <add key="IqrfidPort" value="COM6" />
    <add key="BaudIqrfid" value="9600" />
    <add key="NewLineIqrfid" value="\r\n" />

    <!-- === РИДЕР КНИГ (UHF RRU9816 DLL) === -->
    <add key="RruPort" value="COM5" />
    <add key="RruBaudRate" value="57600" />

    <!-- === ПРОЧЕЕ ЖЕЛЕЗО ПО COM (по умолчанию отключено выше флагами) === -->
    <add key="BookTakePort" value="" />
    <add key="BookReturnPort" value="" />
    <add key="BaudBookTake" value="9600" />
    <add key="BaudBookReturn" value="9600" />
    <add key="NewLineBookTake" value="\r\n" />
    <add key="NewLineBookReturn" value="\r\n" />

    <add key="ArduinoPort" value="" />
    <add key="BaudArduino" value="115200" />
    <add key="NewLineArduino" value="\n" />

    <!-- Тайминги -->
    <add key="ReadTimeoutMs" value="1000" />
    <add key="WriteTimeoutMs" value="1000" />
    <add key="AutoReconnectMs" value="1500" />
    <add key="DebounceMs" value="250" />

    <!-- EPC как ключ в базе (оставляем выключенным) -->
    <add key="UseEpcBookKey" value="false" />

    <!-- Логи -->
    <add key="LogsDir" value="C:\SideProjects\RFID-Library\Logs" />

    <!-- служебное (оставляем как было) -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
